<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tunisia Charity Land!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset("assets/css/plugins.css") }}" rel="stylesheet">
            <link href="{{ asset("assets/css/theme.css") }}" rel="stylesheet">
            <link href="{{ asset("assets/css/icons.css") }}" rel="stylesheet">
            <link href="{{ asset("assets/css/icons.css") }}" rel="stylesheet">
            <link href="{{ asset("style.css") }}" rel="stylesheet">
            <link href="{{ asset("assets/css/responsive.css") }}" rel="stylesheet">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-spy="scroll" data-target=".mainmenu-area" data-offset="90">
    <a href="#scroolup" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>
        {% block body %}
            {% block header %}
                <header class="top-area" id="home">
                    <div class="header-top-area" id="scroolup">
                        <div class="top-bar">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 col-sm-8">
                                        <div class="left-contact">
                                            <p><i class="fa fa-phone"></i> +71 200 200</p>
                                            <p><i class="fa fa-envelope-o"></i> contact@tcl.io</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--MAINMENU AREA-->
                        <div class="mainmenu-area" id="mainmenu-area">
                            <div class="mainmenu-area-bg"></div>
                            <nav class="navbar">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="navbar-header">
                                                <a href="index.html" class="navbar-brand">Tunisia Charity Land</a>
                                            </div>
                                            <svg class="ham hamRotate ham8" viewBox="0 0 100 100" width="50">
                                                <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                                                <path class="line middle" d="m 30,50 h 40" />
                                                <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
                                            </svg>
                                            <div id="main-nav" class="stellarnav">
                                                <div class="search-form-buton">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                                <ul id="nav" class="nav navbar-nav pull-right">
                                                    <li class="active"><a href="index.html">Home</a>
                                                        <ul>
                                                            <li class="active"><a href="index-2.html">Home V1</a></li>
                                                            <li><a href="index-3.html">Home V2</a></li>
                                                            <li><a href="index-4.html">Home V3</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="causes.html">Causes</a>
                                                        <ul>
                                                            <li><a href="causes.html">Causes 1</a></li>
                                                            <li><a href="causes-2.html">Causes 2</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="events.html">Events</a>
                                                        <ul>
                                                            <li><a href="events.html">Events 1</a></li>
                                                            <li><a href="events-2.html">Events 2</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="blog.html">Blog</a>
                                                        <ul>
                                                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                            <li><a href="blog.html">Blog Right Sidebar</a></li>
                                                            <li><a href="blog-3-colunm.html">Blog 3 Column</a></li>
                                                            <li><a href="single-blog.html">Single Blog</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Pages</a>
                                                        <ul>
                                                            <li><a href="gallery.html">Gallery 1</a></li>
                                                            <li><a href="gallery-2.html">Gallery 2</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                </ul>
                                                <div class="header-search-form">
                                                    <form action="#">
                                                        <input type="search" name="search" id="search" placeholder=" Search Here...">
                                                        <button type="submit"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <!--END MAINMENU AREA END-->
                    </div>

                    <!--WELCOME SLIDER AREA-->
                    <div class="welcome-slider-area font16 white">
                        <div class="welcome-single-slide">
                            <div class="slide-bg-one slide-bg-overlay"></div>
                            <div class="welcome-area">
                                <div class="container">
                                    <div class="row flex-v-center">
                                        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                                            <div class="welcome-text center">
                                                <h1>Welcome to Tunisia Charity Land</h1>
                                                <p>Authoritatively enable resource-leveling "outside the box" thinking whereas robust scenarios. Holisticly visualize</p>
                                                <div class="home-button mt40 xs-mt40 ">
                                                    <a class="left ripple-btn" href="#">Services Here</a>
                                                    <a class="left ripple-btn active" href="#">Say Hello</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="welcome-single-slide">
                            <div class="slide-bg-two slide-bg-overlay"></div>
                            <div class="welcome-area">
                                <div class="container">
                                    <div class="row flex-v-center">
                                        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                                            <div class="welcome-text center">
                                                <h1>Welcome to Tunisia Charity Land</h1>
                                                <p>Authoritatively enable resource-leveling "outside the box" thinking whereas robust scenarios. Holisticly visualize</p>
                                                <div class="home-button mt40 xs-mt40 ">
                                                    <a class="left ripple-btn" href="#">Our Services</a>
                                                    <a class="left ripple-btn active" href="#">Start Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="welcome-single-slide">
                            <div class="slide-bg-three slide-bg-overlay"></div>
                            <div class="welcome-area">
                                <div class="container">
                                    <div class="row flex-v-center">
                                        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                                            <div class="welcome-text center">
                                                <h1>Welcome to Tunisia Charity Land</h1>
                                                <p>Authoritatively enable resource-leveling "outside the box" thinking whereas robust scenarios. Holisticly visualize</p>
                                                <div class="home-button mt40 xs-mt40 ">
                                                    <a class="left ripple-btn" href="#">Start Now</a>
                                                    <a class="left ripple-btn active" href="#">Contact Us</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--WELCOME SLIDER AREA END-->
                </header>
            {% endblock %}


            {% block content %}

            {% endblock %}


            {% block footer %}
                <footer class="footer-area">
                    <div class="footer-top-area blue-bg padding-100-50">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="single-footer-widgets">
                                        <h4>Contact Us</h4>
                                        <p>Lorem ipsum dolor sit amet nsectetur adipiscing elit. its is Nulla tempor.</p>
                                        <p>Cell: +88 01744 430440</p>
                                        <p>Email: mehedidb@gmail.com</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="single-footer-widgets footer-menu">
                                        <h4>Important Links</h4>
                                        <ul>
                                            <li><a href="index-2.html">Home Page</a></li>
                                            <li><a href="causes.html">Causes</a></li>
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="gallery.html">Our gallery</a></li>
                                            <li><a href="contact.html">Contact us</a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="https://codecanyon.net/">Codecanyon</a></li>
                                            <li><a href="https://themeforest.net/">Themeforest</a></li>
                                            <li><a href="https://graphicriver.net/">Graphicriver</a></li>
                                            <li><a href="https://audiojungle.net/">Audio Jungle</a></li>
                                            <li><a href="https://help.envato.com/">Help Envato</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="single-footer-widgets instagram-feed">
                                        <h4>Instagram Feed</h4>
                                        <ul>
                                            <li><a href="#"><img src="assets/img/instagram/feed-1.jpg" alt=""></a></li>
                                            <li><a href="#"><img src="assets/img/instagram/feed-2.jpg" alt=""></a></li>
                                            <li><a href="#"><img src="assets/img/instagram/feed-3.jpg" alt=""></a></li>
                                            <li><a href="#"><img src="assets/img/instagram/feed-4.jpg" alt=""></a></li>
                                            <li><a href="#"><img src="assets/img/instagram/feed-5.jpg" alt=""></a></li>
                                            <li><a href="#"><img src="assets/img/instagram/feed-6.jpg" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="single-footer-widgets">
                                        <h4>Instagram Feed</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. its is Nulla tempor, nisl sed bibendu.</p>
                                        <div class="footer-subscriber-form mt30">
                                            <form action="#">
                                                <input type="email" name="email" id="email" placeholder="Enter_Your_Email..">
                                                <button type="submit"><span class="ti-arrow-right"></span></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom-area">
                        <div class="container">
                            <div class="row flex-v-center">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="footer-copyright xs-center sm-center wow fadeIn sm-mb20 xs-mb-20">
                                        <p>Copyright &copy; <a href="http://themeforest.net/user/QuomodoTheme"> QuomodoTheme</a> All Right Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="footer-social-bookmark text-right xs-center sm-center wow fadeIn">
                                        <ul class="social-bookmark">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            {% endblock %}


        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
            <!--====== SCRIPTS JS ======-->
            <script src="{{ asset('assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>

            <!--====== PLUGINS JS ======-->
            <script src="{{ asset('assets/js/vendor/jquery.easing.1.3.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/jquery-migrate-1.2.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/jquery.appear.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/slick.min.js') }}"></script>
            <script src="{{ asset('assets/js/stellar.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-modal-video.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
            <script src="{{ asset('assets/js/countdown.min.js') }}"></script>
            <script src="{{ asset('assets/js/wow.min.js') }}"></script>
            <script src="{{ asset('assets/js/stellarnav.min.js') }}"></script>
            <script src="{{ asset('assets/js/placeholdem.min.js') }}"></script>
            <script src="{{ asset('assets/js/contact-form.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.sticky.js') }}"></script>

            <!--===== ACTIVE JS=====-->
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
